
@{
    ViewBag.Title = "Home";
}
<div class="row">
<div class="col-lg-4">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">14</span>
            I am a room.
        </li>
        <li class="list-group-item">
            <span class="badge">2</span>
            I am not connected to a database though :(
        </li>
        <li class="list-group-item">
            <span class="badge">1</span>
            I am another room.
        </li>
    </ul>
</div>
<div class="col-lg-8">
<div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Hey there!</strong> It looks like you are new. To get started, <a href="#" class="alert-link">create a room</a>, or join one of the rooms over on the sidebar!
</div>
</div>
</div>
