@using OurMusic.Models
@model List<OurMusic.Models.Room>
@{
    ViewBag.Title = "Home";
    Person p = ViewBag.LoggedInPerson;
}
<div class="row">
<div class="col-lg-4">
    @if(Model.Count >= 1)
    { 
    <ul class="list-group">
        @foreach (var x in Model)
        {
            <li class="list-group-item">
                <span class="badge">@x.People.Count</span>
                @Html.ActionLink(x.name, "Join", "Room", new { personid = p.userID, id = x.roomid }, new { })
            </li>            
        }

    </ul>
    }
    else
    {
        <small>There are no rooms here! Would you like to @Html.ActionLink("create a room","Create","Room")?</small>
    }
</div>
<div class="col-lg-8">
<div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Hey there!</strong> It looks like you are new. To get started, <a href="#" class="alert-link">create a room</a>, or join one of the rooms over on the sidebar!
</div>
</div>
</div>
